body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    padding: 40px;
}
h1 {
    color: #007acc;
}
a {
    color: #333;
    text-decoration: none;
}
button {
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
}

.dark {
    background-color: #111;
    color: #eee;
}

